@charset "UTF-8";
/* @font-face {
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Anton-Regular.eot);
    src: url(../font/Anton-Regular?#iefix) format('embedded-opentype'),
         url(../font/Anton-Regular.woff) format('woff'),
         url(../font/Anton-Regular.ttf) format('truetype');
} */

/* 반응형,모바일에서 모든요소의 크기에 padding,border 포함 */
*,:before,:after {box-sizing: border-box;}

/* body에 들어갈수있는 모든태그의 여백빼기 */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,code,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,footer,header,hgroup,menu,nav,section,main,audio,video {margin: 0; padding: 0;}

/*html5추가 시멘틱엘리먼트를 익스하위버전에서 블럭으로 인식되도록함*/
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,main {display: block}

button { cursor: pointer; }
/* 익스하위버전에서 이미지 선없애기 */
fieldset,img {border: 0; vertical-align: top}
/* 리스트 기호 빼기 */
ol,ul {list-style: none}
/* 태그 기본 기울임꼴 제거 */
address,em {font-style: normal}
strong {font-weight: normal;}
/* 페이지안에서 가장 많은 링크색 지정 */
a {
    text-decoration: none;
    color: #222;
    /* 모바일 크롬,사파리에서 클릭시 색상 */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}
/* iframe으로 외부컨텐츠를 연결했을때
외부컨텐츠안쪽내용이 우리페이지에 영향을 주지못하도록 가려줌*/
iframe {overflow: hidden; border: none;}
/* 칸의 선을 합치기, 칸의 간격없애기, 가로를 늘려줌 */
table {border-collapse: collapse; border-spacing: 0; width: 100%}
/* 굵기 빼고 헤딩태그 폰트크기를 body에 선언한 크기와 일치시킴 */
h1,h2,h3,h4,h5,h6 {font-weight: normal; font-size: 100%}
/* 폼요소의 높이가 다를때 요소끼리 세로정렬시킴, ios 둥근모서리, 기본스타일 제거 */
input,select,textarea,button {
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.1);
}

/* 익스 select 화살표빼기 */
select::-ms-expand {display:none}

/* textarea 리사이즈기능 빼기 */
textarea {resize: none}

/* 페이지안의 모든 폰트의 줄간격을 1.5로 통일시킴
모바일 크롬, 사파리의 텍스트 자동확대 방지*/
body { line-height: 1.5; -webkit-text-size-adjust: none }





/*********************** 공통스타일 *************************/
/* 스크롤바 강제생성: pc브라우저에서 body hidden시 우측스크롤바가 사라지므로 화면이 17px 움직이면서 보이게되며 html에 우측스크롤바를 강제생성 */
html {overflow-y: scroll;}


body,input,button,select,textarea,table {
    font-family:'Noto Sans KR','Apple SD Gothic Neo',sans-serif;
    font-size: 15px;
    color:#222;
    letter-spacing: -0.025em;
}

/* legend,caption,메뉴제목,섹션제목 블라인드 */
legend,caption,.blind {position: absolute; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; width: 1px; height: 1px}

/* float해제 */
.clearfix:after { content: ''; display: block; clear: both; }

/* placeholder 공통 */
::-webkit-input-placeholder {color:#bbb;} /* Webkit,크롬,사파리 */
:-moz-placeholder {color:#bbb;} /* Firefox 4-18 */
::-moz-placeholder {color:#bbb; opacity:1;} /* Firefox 19+ */
:-ms-input-placeholder {color:#bbb !important;} /* IE10+ */

/* 텍스트 선택 컬러 */
/* ::selection { background-color: #ef151e; color: #ffffff; } */

/* skip navgation */
#skipNavi {position: relative;}
#skipNavi a {
    position: absolute;
    left: 0;
    top:-9999px;
    width:100%;
    height: 40px;
    background: #000;
    color:#fff;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
    z-index: 99999;
}
#skipNavi a:focus, #skipNavi a:active, #skipNavi a:hover {top:0;}



/* 폼요소 공통스타일 */
/* ie input x버튼, password 눈아이콘 제거 */
input[type="text"]::-ms-clear {display: none;}
input[type="password"]::-ms-reveal {display: none;}

input[type="text"] {
    width:100%;
    border:none;
    background: #f0f0f0;
    height: 45px;
    outline:none;
    padding-left:15px;
    color:#292929;
    box-sizing: border-box;
}
input.input_small {width:200px;}


/* select 공통 */
.select_wrap {
    display: inline-block;
    width:100%;
    border:1px solid #ccc;
    position: relative;
}
.select_wrap:after {
    content: '';
    position: absolute;
    right:10px;
    top:50%;
    margin-top:-3px;
    width:0;
    height:0;
    border: 7px solid transparent;
    border-top-color: #444;
}
.select_wrap select {
    width:100%;
    border:none;
    height:45px;
    padding: 0 10px;
    color:#999;
    /* after화살표가 위에 있으므로 화살표에서 클릭이 안되어
    select을 제자리에서 띄우고 기본배경색 없애줌 */
    position: relative;
    z-index: 10;
    background: none;
}

/* textarea 공통 */
textarea {
    width:100%;
    background: #f0f0f0;
    border:none;
    padding: 15px;
    outline: none;
    box-sizing: border-box;
}

/* 버튼 공통 스타일 */
.btn {
    /* 좌우배치 */
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    /* 좌우배치시 수직정렬 */
    vertical-align: listdle;
    box-sizing: border-box;
    border-radius: 46px;
    padding:0 20px;
}

/* 글자 색상 */
.txt_orange {color: #f4a100;}
.txt_black {color: #000; font-weight: 500;}

/* 메인 타이틀 공통 */
.main_tit {text-align: center; padding-top: 30px;}
.main_tit h2 {font-size: 24px; font-weight: 500; color: #333;}
.main_tit p {font-size: 14px; color: #7d7d7d;}



/* 더보기 버튼 공통 */
.btn_more {float: right; position: relative;}
.btn_more:hover:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #333;    
}





#wrap {min-width: 320px;}


/* 헤더 공통 */
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #e1e1e1;
    min-width: 320px;
    z-index: 9999;
    transition: background-color 0.1s;
    background: #fff;
}
/* #header.scroll {background: rgba(255, 255, 255, 0.2);} */
#header .logo {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}
#header .logo img {width: 100px;}
#header .btn_open {
    float: left;
    width: 56px;
    height: 56px;
    background: url(../images/mob_menu.png) no-repeat 50% 50%;
    background-size: 56px;
    text-indent: -9999px;
}
#header .btn_search_toggle {
    float: right;
    width: 56px;
    height: 56px;
    background: url(../images/mob_search.png) no-repeat 50% 50%;
    background-size: 56px;
    text-indent: -9999px;
    border: none;
}

#header .btn_search_toggle.on {
    background: url(../images/mob_close.png) no-repeat 50% 50%;
    background-size: 30px;
}




/**************** 모바일 메인 ***************/
.main_container {
    padding-top: 56px;
}
.main_container .main_slider .swiper-slide img {width: 100%;}
.main_container .main_slider .swiper-pagination-bullet {
    background: #c8ddee;
}
.main_container .main_slider .swiper-pagination-bullet-active {
    background: #a1bcd2;
}
.main_service {
    background: #f6f6f6;
    padding: 0 15px 20px;
}
.main_service .tab_wrap {
    text-align: center;
    padding-top: 30px;
}
.main_service .tab_wrap .tab_menu li {display: inline-block;}
.main_service .tab_wrap .tab_menu li + li {margin-left: 8px;}
.main_service .tab_wrap .tab_menu li.active a {background: #fdb813;}
.main_service .tab_wrap .tab_menu li a {
    display: block;
    line-height: 38px;
    border-radius: 38px;
    color: #fff;
    background: #b1b1b1;
    padding: 0 14px;
}
.main_service .tab_wrap .service_tab {
    display: flex;
    flex-wrap: wrap;
    padding-top: 42px;
}
.main_service .tab_wrap .service_tab li {
    flex: 0 1 calc(100% / 3);
    margin-bottom: 30px;
}
.main_service .tab_wrap .service_tab li a {
    display: inline-block;
    text-align: center;
}
.main_service .tab_wrap .service_tab li a span {
    display: block;
    font-size: 13px;
    color: #666;
    margin-top: 10px;
}
.main_service .tab_wrap .service_tab img {
    height: 80px;
    background:url(../images/mob_service00.png) no-repeat 50% 50%;
    background-size: 80px;
}


.main_edu_search {padding: 0 15px 40px;}
.main_edu_search .search_menu {
    padding-top: 26px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.main_edu_search .search_menu .select_wrap {
    flex: 0 1 calc(50% - 42px);
    margin-bottom: 10px;
}
.main_edu_search .search_menu p {
    margin: 0 5px;
}
.main_edu_search .search_menu select {
    height: 38px;
    padding-left: 20px;
}
.main_edu_search .btn_search {
    display: block;
    margin: 20px auto 0;
    border: none;
    background: #333;
    color: #fff;
    width: 296px;
    height: 50px;
}
.main_edu_search .btn_search:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 10px;
    background: url(../images/mob_search2.png) no-repeat 50% 50%;
}

.main_best {background: #333;  padding: 0 0 40px;}
.main_best .main_tit h2 {color: #fff;}
.main_best .main_tit p {color: #fff;}
.main_best .best_slider { margin-top: 30px; padding:0 0 20px 20px;}
.main_best .best_slider .swiper-slide {
    margin-right: 20px;
    width: 200px;
}
.main_best .best_slider .swiper-slide .img_wrap {background: #fff;}
.main_best .best_slider .swiper-slide .img_wrap img {
    width: 100%;
    display: block;
}
.main_best .best_slider .swiper-slide .txt_wrap {margin-top: 30px;}
.main_best .best_slider .swiper-slide .txt_wrap h3 { color: #fff; font-size: 16px; text-align: center;}
.main_best .best_slider .swiper-slide .txt_wrap p { color: #c7c7c7;text-align: center; line-height: 1.3; margin-top: 5px; font-size: 14px;}
.main_best .best_slider .swiper-scrollbar {
    background: #6f6f6f;
    height: 3px;
    left: 20px;
    right: 20px;
    width: auto;
}
.main_best .best_slider .swiper-scrollbar-drag {
    background: #fff;
}
.main_check {padding: 0 15px 40px; text-align: center;}
.main_check .check {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.main_check .check li {flex: 0 1 50%; margin-top: 24px;}
.main_check .check li span { color: #333; display: block; margin-top: 10px;}
.main_check .check img {
    border: 1px solid #949494;
    border-radius: 100%;
    height: 100px;
}

.main_free {background: #9ad1d6; padding: 0 0 40px;}
.main_free .free_silder {padding-top: 30px;}
.main_free .free_silder .swiper-slide img {
   width: 100%;
}
.main_free .free_silder .btn_arrow {
    width: 48px;
    height: 48px;
    left: 0;
    background: url(../images/mob_arrow_pre.png) no-repeat 50% 50%;
}
.main_free .free_silder .swiper-button-next {
    background-image: url(../images/mob_arrow_next.png);
    left: auto;
    right: 0;
}
.main_free .btn_free {
    border: none;
    background: #e60012;
    color: #fff;
    width: 248px;
    height: 41px;
    font-size: 15px;
    display: block;
    margin: 0 auto ;
}

.main_video {padding-bottom: 40px; }
.main_video .video {
    margin-top: 30px;
    padding-bottom: 56.25%;
    height: 0;
    position: relative;
}
.main_video .video iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.main_etc {padding: 0 15px 30px;}
.main_etc h2 {
    font-size: 24px;
    font-weight: 500;
    color: #333;
}
.main_etc .latest { position: relative;}
.main_etc .latest li {
    display: block;
    overflow: hidden;
    margin-top: 10px;
}
.main_etc .latest p {
    float: left;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 42px;
    color: #848484;
}
.main_etc .latest .date {
    float: right;
    color: #848484;
}
.main_etc .btn_more {
    text-indent: -9999px;
    position: relative;
}
.main_etc .btn_more:before {
    content: '';
    position: absolute;
    right: -10px;
    top: -94px;
    width: 30px;
    height: 30px;
    background: url(../images/etc_more.gif) no-repeat;
}

.main_call { background: #f4f4f4; padding: 30px 0;}
.main_call .call_wrap { text-align: center; }
.main_call .call_wrap span {
    display: inline-block;
    background: #fff;
    width: 94px;
    height: 34px;
    border-radius: 34px;
    border: 1px solid #a2a2a2;
    line-height: 34px;
    padding: 0 18px;
}
.main_call .call_wrap a {
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-left: 10px;
}
.main_call p {
    text-align: center;
    color: #666;
    margin-top: 10px;
}

#footer {padding: 30px 15px; position: relative;}
#footer .footer_logo {
    width: 112px;
    height: 34px;
    background: url(../images/logo02.png) no-repeat 50% 50%;
    margin: 0 auto;
    text-indent: -9999px;
}
#footer .sns {text-align: center; margin: 20px 0;}
#footer .sns a {
    display: inline-block;
    text-indent: -9999px;
    width: 40px;
    height: 40px;
    margin-left: 10px;
}
#footer .sns .insta {
    margin-left: 0;
    background: url(../images/mob_sns01.png);
    background-size: 40px;
}
#footer .sns .youtube {
    background: url(../images/mob_sns02.png);
    background-size: 40px;
}
#footer .sns .facebook {
    background: url(../images/mob_sns03.png);
    background-size: 40px;
}
#footer .sns .blog {
    background: url(../images/mob_sns04.png);
    background-size: 40px;
}
#footer .link {text-align: center;}
#footer .link li {
    display: inline-block;
    position: relative;
    margin-bottom: 10px;
}
#footer .link li + li {margin-left: 10px;}
#footer .link li + li:after {
    content: '';
    position: absolute;
    left: -6px;
    top: 4px;
    width: 1px;
    height: 14px;
    background: #666;
}
#footer .link li a {color: #666;}
#footer .addr {
    white-space: pre-line;
    color: #666;
    line-height: 1.7;
    text-align: center;
    font-size: 14px;
}
#footer .copyright {
    color: #b4b4b4;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}
#footer .family {
    text-align: center;
    margin: 20px 0;
    position: relative;
}
#footer .btn_family {
    background: none;
    border: 1px solid #666;
    color: #666;
    width: 100%;
    height: 45px;
    font-size: 16px;
}
#footer .list_family {
    font-size: 15px;
    width: 100%;
    position: absolute;
    bottom: 45px;
    left: 0;
    height: 220px;
    border: 1px solid #ddd;
    z-index: 100;
    overflow: auto;
    display: none;
}
#footer .list_family li {
    border-bottom: 1px solid #ccc;
}
#footer .list_family li a {
    display: block;
    padding: 8px 10px;
    background: #f4f4f4;
    color: #868686;
    font-size: 14px;
}
#footer .list_family li.subject {
    padding: 8px 10px;
    background: #838383;
    color: #fff;
}




/************* 메인 네비게이션 **************/
#header .dimm {
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.7);
    z-index: 9998;
    /* fade효과 때문에 jQuery로 처리 */
    display: none;
}
#header .gnb_box.open {
    transform: translateX(0);
}
#header .gnb_box {
    position: fixed;
    left: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background: #fff;
    overflow: auto;
    z-index: 9999;
    transition: transform 0.5s cubic-bezier(0.65,0.05,0.36,1);
    transform: translateX(-100%);
    /* display: none; */
}
#header .gnb_box .login_wrap {
    background: #fba34b;
    text-align: center;
    padding: 30px 0 15px 0;
    
}
#header .gnb_box .top_log {
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}
#header .gnb_box .top_log h2 {
    color: #fff; 
    font-size: 18px;
}
#header .gnb_box .bottom_log {padding-top: 15px;}
#header .gnb_box .bottom_log a {
    color: #fff; 
    font-size: 16px;
    display: block;
    position: relative;
}
#header .gnb_box .bottom_log a:before {
    content: '';
    position: absolute;
    left: 116px;
    top: 3px;
    width: 16px;
    height: 17px;
    background: url(../images/mob_mnav_logout.png) no-repeat;
    background-size: 16px;
}
#header .gnb_box .quick {
    padding: 15px 0;
    overflow: hidden;
    border-bottom: 1px solid #ddd;
}
#header .gnb_box .quick li {
    float: left;
    width: calc(100% / 3);
}
#header .gnb_box .quick li + li {
    border-left: 1px solid #ddd;
}
#header .gnb_box .quick li a {
    display: block;
    text-align: center;
    margin-top: 2px;
    font-size: 14px;
    color: #333;
}
#header .gnb_box .quick li img{
    width: 32px;
}
#header .gnb_box .quick span {
    display: block;
    margin-top: 4px;
}
#header .gnb {background: #fff;}
#header .gnb .depth1>li>a {
    display: block;
    line-height: 50px;
    font-size: 16px;
    color: #000;
    padding-left: 15px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
    position: relative;
}
#header .gnb .depth1>li>a:after {
    content: '';
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px;
    width: 10px;
    height: 10px;
    border-left: 1px solid #222;
    border-bottom: 1px solid #222;
    transition: all 0.3s;
    transform: rotateZ(-45deg);
}
#header .gnb .depth1>li>a.active:after {
    transform: rotateZ(135deg);
    margin-top: -2px;
}
#header .gnb .depth1>li>a.active{color: #ee7700;}
#header .gnb .depth2 {
    background: #f3f2f2;
    display: none;
}
#header .gnb .depth2>li {line-height: 44px;}
#header .gnb .depth2>li>a {
    display: block;
    padding-left: 15px;
    color: #333;
}
#header .btn_close {
    position: fixed;
    right: 120px;
    top: 0;
    width: 50px;
    height: 50px;
    background: url(../images/mob_nav_x.png) no-repeat 50% 50%;
    background-size: 20px;
    z-index: 9999;
    border: none;
    text-indent: -9999px;
    display: none;
}


#header .search_box {
    position: fixed;
    left:0;
    top:50px;
    width:100%;
    z-index: 9998;
    min-width: 320px;
    height: 0;
    overflow: hidden;
    background: #F6F6F6;
    transition: height 0.5s;
}
#header .search_box.open {
    height: calc(100% - 56px);
}
#header .search_box .search_wrap {
    padding: 35px 15px;
}
#header .search_box .top_search {
    border-bottom:2px solid #222;
    padding:8px 0;
}
#header .search_box .input_wrap {
    position: relative;
}
#header .search_box .input_wrap input[type="text"] {
    height: 30px;
    padding: 0 56px 0 10px;
    background: none;
    color: #666;
}
#header .search_box .input_wrap .btn_search {
    position: absolute;
    right: 0px;
    top: 0;
}
#header .search_box .input_wrap .btn_search img {
    width: 26px;
}
#header .search_box .list_box {
    padding: 40px 0 30px 0;
}
#header .search_box .list_box h3 {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}
#header .search_box .list_box li {padding-bottom: 16px;}
#header .search_box .list_box li a {
    font-size: 15px;
    display: block;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #666;
}

#header .search_box .smart_search {
    border-top: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
#header .search_box .smart_search p {
    font-weight: 500;
    color: #222;
    margin-bottom: 10px;
}
#header .search_box .smart_search a {
    background: #fba34b;
    width: 100%;
    height: 56px;
    display: block;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 56px;
    position: relative;
}
#header .search_box .smart_search a:before {
    content: '';
    position: absolute;
    left: 148px;
    top: 18px;
    width: 38px;
    height: 38px;
    background: url(../images/search_on.png) no-repeat;
    background-size: 20px;
}







/*********** 로그인 공통 ***********/
#checkid {border: none;}
.login_container .input_wrap input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 4px 8px;
    color: #333;
    border: 1px solid #bbb;
    outline: none;
    background:none;
    box-sizing: border-box;
}
.checkbox_wrap input[type="checkbox"]:checked+label:before {
    background: url(../images/checkbox_on.png) no-repeat 50% 50%;
    background-color: #7d7d7d;
}
.login_container .etc_wrap .login_list li {
    display: inline-block;
    width: 212px;
    line-height: 40px;
    margin: 5px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    position: relative;
}

/*********** 로그인 서브 ***********/
.login_container {
    padding: 0 15px;
}
.login_container .login_wrap {
    text-align: center;
    padding: 71px 0 20px 0;
}
.login_container .login_wrap h2 img{
    width: 218px;
    height: 74px;
}
.login_container .login_wrap span { color: #5a5a5a7e; }
.login_container .input_wrap {margin-bottom: 10px;}
.login_container .checkbox_wrap { margin-bottom: 30px; }
.login_container .checkbox_wrap label {
    position: relative;
    color: #5f5f5f;
    padding-left: 24px;
    font-size: 15px;
}
.login_container .checkbox_wrap label:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    left: -3px;
    top: 1px;
    border: 1px solid #bdbdbd;
}
.login_container .btn_wrap { margin-bottom: 30px; text-align: center;}
.login_container .btn_wrap .btn_login {
    width: 136px;
    height: 40px;
    border-radius: 40px;
    border: none;
    background: #000;
    color: #fff;
}
.login_container .search_wrap {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #ddd;
}
.login_container .search_wrap li {
    display: inline-block;
    position: relative;
}
.login_container .search_wrap li + li {margin-left: 20px;}
.login_container .search_wrap li + li:after {
    content: '';
    position: absolute;
    left: -12px;
    top: 4px;
    width: 1px;
    height: 14px;
    background: #5f5f5f;
}
.login_container .search_wrap li a { color: #5f5f5f; }

.login_container .etc_wrap {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
}
.login_container .etc_wrap .login_list li a {display: block;}
.login_container .etc_wrap .login_list li:first-child {
    background: #fee500;
}
.login_container .etc_wrap .login_list li:first-child a {padding-left: 20px;}
.login_container .etc_wrap .login_list .kakao:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 28px;
    top: -4px;
    background: url(../images/login_kakao.png) no-repeat;
    background-size: 50px;
}
.login_container .etc_wrap .login_list li:nth-child(2) { background: #1ec800; }
.login_container .etc_wrap .login_list li:nth-child(2) a { color: #fff; padding-left: 20px;}
.login_container .etc_wrap .login_list .naver:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 30px;
    top: -2px;
    background: url(../images/login_naver.png) no-repeat;
}
.login_container .etc_wrap .login_list li:nth-child(3) a {padding-left: 20px;}
.login_container .etc_wrap .login_list .google:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 26px;
    top: -4px;
    background: url(../images/login_google.png) no-repeat;
    background-size: 50px;
}
.login_container .etc_wrap .login_list li:last-child { background: #000; }
.login_container .etc_wrap .login_list li:last-child a { color: #fff;     padding-left: 20px;}
.login_container .etc_wrap .login_list .apple:before {
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    left: 42px;
    top: 6px;
    background: url(../images/login_apple.png) no-repeat;
    background-size: 22px;
}






/*********** 서브 공통 ************/
.sub_visual {
    height: 214px;
    background: url(../images/mob_history.jpg) no-repeat 50% 50%;
    box-sizing: border-box;
    padding-top: 90px;
    position: relative;
}
.sub_visual:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.sub_visual h2 {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    position: relative;
}
.lnb_wrap {
    margin: 0 auto;
    text-align: center;
    border: 1px solid #cbcbcb;
}
.lnb_wrap .lnb {
    display: inline-block;
    vertical-align: top;
}
.lnb_wrap .lnb li {
    float: left;
    padding: 0 20px;
}
.lnb_wrap .lnb li.active a {
    color: #f6ab00;
}
.lnb_wrap .lnb li>a {
    display: block;
    line-height: 40px;
    font-size: 16px;
    color: #838383;
}






/*********** 연혁 공통 ************/
.history_container {padding-top: 56px;}

.history_wrap .history_inner:before {
    content: '';
    width: 1px;
    bottom: 0;
    position: absolute;
    left: 62px;
    top: 68px;
    background: #cbcbcb;
} 
.history_wrap .history_inner .year_wrap {overflow: hidden; padding-bottom: 30px;}
.history_wrap .history_inner .year_wrap .year {
    float: left;
    color: #232323;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
    position: relative;
}
.history_wrap .history_inner .year_wrap .year:after {
    content: '';
    width: 8px;
    height: 8px;
    position: absolute;
    left: 59px;
    top: 10px;
    border-radius: 8px;
    background: #ee7700;
}
.history_wrap .history_inner .year_wrap p {
    display: block;
    color: #696969;
    width: calc(100% - 86px);
    float: left;
    margin-left: 46px;
}
.brand_wrap .brand {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.brand_wrap .brand li {
    padding: 76px 0 28px;
    border: 6px solid #f6ab00;
    border-radius: 16px;
    margin-bottom: 20px;
    text-align: center;
    flex: 0 1 calc(50% - 10px);
    position: relative;
}
.brand_wrap .brand li:before {
    content: '';
    width: 144px;
    height: 60px;
    position: absolute;
    left: -15px;
    top: 10px;
    background: url(../images/label.png) no-repeat;
    background-size: 140px;
}




/********** 연혁 서브 *************/
.brand_wrap .main_tit p {font-size: 15px;}
.history_container .contents {padding: 30px 15px; border-bottom: 1px solid #ddd;}
.history_container .contents .tit {
    font-size: 18px;
    text-align: center;
}
.history_container .contents .tit strong {font-weight: 500;}
.history_container .contents .history_tab {
    text-align: center;
    padding-top: 30px;
}
.history_container .contents .history_tab li {
    display: inline-block;
    margin-left: 10px;
}
.history_container .contents .history_tab li a {    
    display: inline-block;
    font-size: 16px;
    border: 1px solid #7b7b7b;
    padding: 10px 20px;
}
.history_container .contents .history_tab li a:hover {background:#f6ab00; color: #fff; font-weight: 500; border: 1px solid #fff;}
.history_container .contents .history_wrap { padding-top: 30px; }
.history_container .history_wrap .history_tit {
    height: 124px;
    background: url(../images/history02.png) no-repeat 50% 50%;
    background-size: 720px;
    padding-top: 30px;
    position: relative;
}
.history_container .history_wrap .history_tit:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.history_container .history_wrap .history_tit h3 {
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.history_container .history_wrap .history_tit h3 strong {
    font-size: 24px;
    font-weight: 500;
}
.history_container .history_wrap .history_inner {margin-top: 30px; position: relative;}
.history_container .history_wrap .history_inner h4 {
    text-align: center;
    font-size: 18px;
    color: #333;
    margin-bottom: 30px;
}

.history_container .contents .brnad_wrap {padding-top: 60px;}
.brand_wrap .brand li:nth-child(2n) {margin-left: 20px;}
.brand_wrap .brand li:nth-child(2){ border-color: #ee7700; }
.brand_wrap .brand li:nth-child(3){ border-color: #ee7700; }
.brand_wrap .brand li:last-child{ border-color: #ee7700; }
.brand_wrap .brand li:first-child:after {
    content: '';
    width: 90px;
    height: 41px;
    background: url(../images/brand_kumon.png) no-repeat 50% 50%;
    background-size: 90px;
    position: absolute;
    left: 10px;
    top: 16px;
}
.brand_wrap .brand li:nth-child(2):after {
    content: '';
    width: 94px;
    height: 33px;
    background: url(../images/brand_allstory.png) no-repeat 50% 50%;
    background-size: 80px;
    position: absolute;
    left: 10px;
    top: 22px;
}
.brand_wrap .brand li:nth-child(3):after {
    content: '';
    width: 94px;
    height: 46px;
    background: url(../images/brand_AImath.png) no-repeat 50% 50%;
    background-size: 70px;
    position: absolute;
    left: 10px;
    top: 14px;
}
.brand_wrap .brand li:nth-child(4):after {
    content: '';
    width: 94px;
    height: 46px;
    background: url(../images/brand_redpenko.png) no-repeat 50% 50%;
    background-size: 72px;
    position: absolute;
    left: 10px;
    top: 16px;
}
.brand_wrap .brand li:nth-child(5):after {
    content: '';
    width: 94px;
    height: 46px;
    background: url(../images/brand_doyose.png) no-repeat 50% 50%;
    background-size: 72px;
    position: absolute;
    left: 10px;
    top: 16px;
}
.brand_wrap .brand li:nth-child(6):after {
    content: '';
    width: 90px;
    height: 46px;
    background: url(../images/brand_smartpen.png) no-repeat 50% 50%;
    background-size: 80px;
    position: absolute;
    left: 10px;
    top: 16px;
}